@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
* {
  font-family: "Rubik", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-blue: hsl(246, 80%, 60%);
  --primary-light-orange: hsl(15, 100%, 70%);
  --primary-soft-blue: hsl(195, 74%, 62%);
  --primary-light-red: hsl(348, 100%, 68%);
  --primary-lime-green: hsl(145, 58%, 55%);
  --primary-violet: hsl(264, 64%, 52%);
  --primary-soft-orange: hsl(43, 84%, 65%);
  --neutral-very-dark-blue: hsl(226, 43%, 10%);
  --neutral-dark-blue: hsl(235, 46%, 20%);
  --neutral-desaturated-blue: hsl(235deg 33.46% 29.11%);
  --neutral-pale-blue: hsl(236, 100%, 87%);
}

img {
  width: 30px;
}

body {
  height: 100vh;
  background-color: var(--neutral-very-dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 60vw;
  min-width: 45em;
  display: flex;
}

.person-card {
  margin-right: 3em;
}
.person-card .person {
  background: var(--primary-blue);
  border-radius: 10px;
  padding: 20px 30px 70px;
  width: 200px;
  height: 339px;
}
.person-card .person .person-img {
  margin-bottom: 2em;
}
.person-card .person img {
  border: 2px solid white;
  border-radius: 50%;
  width: 68px;
}
.person-card .person p {
  color: var(--neutral-pale-blue);
}
.person-card .person .name {
  color: white;
  font-weight: 400;
  font-size: 28px;
}
.person-card .sessions {
  background-color: var(--neutral-dark-blue);
  color: var(--neutral-pale-blue);
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  padding: 20px 30px;
  top: -6px;
  z-index: -1;
  border-radius: 0px 0px 10px 10px;
  height: 174.91px;
  justify-content: center;
}

.info {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3em;
}
.info .style-card {
  display: flex;
  justify-content: flex-end;
  padding: 25px 20px;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
  z-index: -1;
}
.info .style-card img {
  width: 68px;
  position: absolute;
  top: 0px;
}
.info .card {
  background: var(--neutral-dark-blue);
  padding: 20px 30px;
  color: white;
  border-radius: 10px;
  position: relative;
  top: -5px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.info .card .card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
  font-weight: 500;
}
.info .card .time {
  font-size: 4em;
  font-weight: 100;
  margin-left: 5px;
  margin-bottom: 5px;
}
.info .card .last {
  color: var(--neutral-pale-blue);
  font-weight: 100;
}
.info .card:hover {
  background-color: var(--neutral-desaturated-blue);
}

#btn {
  cursor: pointer;
}

#btn:hover {
  color: white;
}

.style-selfcare {
  background-color: var(--primary-soft-orange);
}

.style-social {
  background-color: var(--primary-violet);
}

.style-exercice {
  background-color: var(--primary-lime-green);
}

.style-study {
  background-color: var(--primary-light-red);
}

.style-play {
  background: var(--primary-soft-blue);
}

.style-work {
  background: var(--primary-light-orange);
}

@media only screen and (max-width: 768px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  .container {
    flex-direction: column;
    align-items: center;
    min-width: 20em;
  }
  .person-card {
    margin-bottom: 1em;
    margin-right: 0px;
  }
  .person-card .person {
    width: 250px;
    height: 250px;
  }
  .person-card .sessions {
    width: 250px;
  }
  .info {
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
  }
  .card-container {
    width: 250px;
  }
}
